<form action="javascript:void(0);" class="flex-container flexFlowColumn">
    <div class="currentPasswordBlock">
        <label data-i18n="Current Password:" for="changePasswordCurrent">Current Password:</label>
        <input id="changePasswordCurrent" type="password" name="current" class="text_pole" placeholder="[ No password ]" autocomplete="current-password">
    </div>
    <div class="newPasswordBlock">
        <label data-i18n="New Password:" for="changePasswordNew">New Password:</label>
        <input id="changePasswordNew" type="password" name="password" class="text_pole" placeholder="[ No password ]" autocomplete="new-password">
    </div>
    <div class="confirmPasswordBlock">
        <label data-i18n="Confirm New Password:" for="changePasswordConfirm">Confirm New Password:</label>
        <input id="changePasswordConfirm" type="password" name="confirm" class="text_pole" placeholder="[ No password ]" autocomplete="new-password">
    </div>
</form>
